.popup__close-botton {
    background-image: url(../../../images/Close_Icon.svg);
    background-color: rgba(238, 51, 51, 0);
    position: fixed; 
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    margin-right: -30px;
    margin-top: -30px;
}

@media (max-width: 600px) {
    .popup__close-botton {
        background-size: contain;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-top: -25px;
    }
}